<div id="single-container" >
    
    <div class="column col-8 col-xs-12">
      <div class="panel">
        <div class="panel-header text-center">
          <div class="panel-title h5 mt-10 text-bold">{{post.first_name}}  
            {{post.last_name}}
            </div>
          <div class="panel-subtitle">{{post.cosmo_bio}}</div>
          <nav class="panel-nav">
            <ul class="tab tab-block">
              
            </ul>
          </nav>
          <div class="panel-body">
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">Cosmo ID</div>
                <div class="tile-subtitle">{{post.id}}</div>
              </div>
            </div>
          <div class="panel-body">
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">E-mail</div>
                <div class="tile-subtitle">{{post.email}}</div>
              </div>
            </div>
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">Phone Number</div>
                <div class="tile-subtitle">{{post.mobile_number}}</div>
              </div>
            </div>
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">Specialty</div>
                <div class="tile-subtitle">{{post.specialties}}</div>
              </div>
            </div>
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">Location</div>
                <div class="tile-subtitle">{{post.location}}</div>
              </div>
            </div>
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title text-bold">Reviews</div>
                {{#each post.ratings}}
                  <div class="tile">Review left by:{{User.username}}
                    {{comment}}</div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary btn-block">Book Appointment</button>
        </div>
      </div>
    </div>
    
</div>